.flex {
  display: flex;
}

.bx-center {
  justify-content: center;
}

.bx-between {
  justify-content: space-between;
}

.itm-center {
  align-items: center;
}

.center {
  justify-content: center;
  align-items: center;
}

.not-show {
  position: absolute;
  width: 100%;
  opacity: 0;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

.ipt-checkbox {
  border: 1px solid var(--light-gray);
  border-radius: 10px;
}

.ipt-checkbox:has(input:hover, input:checked) {
  border: 2px solid var(--purplish-blue);
}

.ipt-checkbox:has(input:checked) {
  background: var(--alabaster);
}
