.flex {
  display: flex;
}

.bx-center {
  justify-content: center;
}

.bx-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
  align-items: center;
}

.not-show {
  position: absolute;
  width: 100%;
  opacity: 0;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}
